<div class="main-block">
  <h1>Notifications </h1>
</div>
<div class="main-block">
  <br>
  <% if @notifications.any? %>
    <% @notifications.each do |notification| %>
      <%= notification.description %>
      <hr>
    <% end %>
  <% else %>
    You have no new notifications.
  <% end %>
</div>
