<h2>Notifications </h2>
<hr>
<% if @notifications.any? %>
  <% @notifications.each do |notification| %>s
    <%= notification %>
    <hr>
  <% end %>
<% else %>
  You have no new notifications.
<% end %>
