<div class="main-block">
  <h1>Notifications </h1>
</div>

  <% if @notifications.any? %>
    <% @notifications.each do |notification| %>
    <div class="main-block">
      <i class="fa fa-calendar"></i>&nbsp&nbsp  <%= link_to notification.description, event_show_path(notification.event_id) %>
    </div>
    <% end %>
  <% else %>
    <div class="main-block">
      You have no new notifications.
    </div>
  <% end %>
