<h2>Notifications </h2>
<hr>
<% if @notifications.any? %>
  <% @notifications.each do |notification| %>
    <%= notification.description %>
    <hr>
  <% end %>
<% else %>
  You have no new notifications.
<% end %>
