<div class="main-block">
  <h1>Wat Do? <small>[Seattle]</small></h1>
  <hr>
  <p>
    Most social networks keep you tuned in to screens and out of
    your life.
  </p>
  <p>
    Wat Do? [Seattle] is a different kind of social tool - an <i>actual</i> social tool. It
    gets you away from screens and helps you start interacting with
    people again.
  </p>
  <p>
    Simply click on the 'Find an
    Activity' button, enter a few parameters, and Wat Do? [Seattle] will
    generate a list of great activity ideas just for you!
  </p><br>

  <!-- Button trigger modal -->
  <% if !current_user %>
    <a class="nav navbar-nav" href="/auth/google_oauth2"><i class="fa fa-sign-in"></i> Sign Up</a>
  <% end %>
</div>
