<h2>Friends</h2>

<p><%= link_to "Find Friends", users_path %></p>

<ul>
  <% @user.friendships.each do |friendship| %>
    <li>
      <%= friendship.friend.name %>
      (<%= link_to "remove", friendship_destroy_path(friendship) %>)
    </li>
  <% end %>
</ul>

<h2>Friended by Users</h2>
<ul>
  <% for user in @user.inverse_friends %>
    <li><%=h user.name %></li>
  <% end %>
</ul>
