<div class="main-block">
  <h1>Friends</h1>
</div>

<div class="main-block">
  <p><h2><%= link_to "Find Friends", users_path %></h2></p>
</div>
<div class="main-block">
  <h3>My Friends</h3>
  <hr>
  <ul>
    <% @user.friendships.each do |friendship| %>

        <%= friendship.friend.name %>
        (<%= link_to "remove", friendship_destroy_path(friendship) %>)
        <br>
    <% end %>
  </ul>
</div>
<div class="main-block">
  <h3>Friended by Users</h3>
  <hr>
  <ul>
    <% for user in @user.inverse_friends %>
      <%=h user.name %><br>
    <% end %>
  </ul>
</div>
