<div class="main-block">
  <h1>Friends</h1>
</div>

<div class="main-block">
  <h2>My Friends </h2>
  <hr>
  <%= link_to "Find Friends", users_path, class:"btn btn-default" %><br><br>
  <ul>
    <% @user.friendships.each do |friendship| %>
        <%= friendship.friend.name %>
        (<%= link_to "remove", friendship_destroy_path(friendship) %>)
        <br>
    <% end %>
  </ul>
</div>
<div class="main-block">
  <h2>Friended by Users</h2>
  <hr>
  <ul>
    <% for user in @user.inverse_friends %>
      <%=h user.name %><br>
    <% end %>
  </ul>
</div>
