<p>
  Congratulations, <%= @user.name %>! You have been granted admin access to Wat Do? [Seattle]!<br>
</p>
<p>
  To retrieve your new admin username and password, please visit wat-do-seattle.com and visit your account page.
  You should find your keys there. Please be sure to record them for your records, as they will not be displayed again.
</p>
<p>
  You may now contribute activities to the database through the website, or via API. For instructions on how to access the API,
  follow the ReadMe on github: https://github.com/schleary/wat-do-seattle/blob/master/README.rdoc
</p>
<p>
  Have an eventful day!
</p>
