<p>
  Welcome, <%= @user.name %>, to Wat Do? [Seattle]!<br>
</p>
<p>
  To verify your email address, please click <a href="wat-do-seattle.com/users/<%= @user.id %>/confirm">HERE</a> confirm.
</p>
<p>
  Have an eventful day!
</p>
