<p>
  Welcome, <%= @user.name %>, to Wat Do? [Seattle]!<br>
</p>
<p>
  To verify your email address, please click <a href="http://localhost:3000/users/<%= @user.id %>/confirm">HERE</a> confirm.
</p>
<p>
  For API purposes:
  Your 'name' is "<%= ENV["API_KEY"] %>" and your 'password' is "<%= ENV["API_SECRET"] %>".
</p>
<p>
  Have an eventful day!
</p>
