/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

/* Flatten das boostrap */

.well, .navbar-inner, .popover, .btn, .tooltip, input, select, textarea, pre, .progress, .modal, .add-on, .alert, .table-bordered, .nav>.active>a, .dropdown-menu, .tooltip-inner, .badge, .label, .img-polaroid {
  -moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	border-collapse: collapse !important;
	background-image: none !important;
}

.btn-geckoboard {
	background: #7EB348;
	background-image: none;
	border:none;
	color: #fff;
	letter-spacing: 1px;
	font-weight: 600;
	text-decoration: none ! important;
	text-shadow: none;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
}
.btn-geckoboard:hover {
	background: #333;
	color: #fff;
}


body{
  height:100%;
  /*background-image: url("speaker.jpg");*/
  /*background: -webkit-linear-gradient(lightpink, green); /* For Safari 5.1 to 6.0 */
  /*background: -o-linear-gradient(lightpink, green); /* For Opera 11.1 to 12.0 */
  /*background: -moz-linear-gradient(lightpink, green); /* For Firefox 3.6 to 15 */
  /*background: linear-gradient(lightpink, green); /* Standard syntax */

}
.container{
  padding-top: 25px;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  height: 775px;
  float: center;
}

.mid-content{
  max-width:800px;
  display: inline-block;
}

sidebar{
  float: right;
  margin-left:5px;
}

.form-horizontal{
  width: 950px;
}

.side-nav{
  width: 150px;
  height:150px;
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px black;
}

.nav-profile{
  background-image: url("speaker.jpg");
  background-size: 150px 150px;
  background-repeat: no-repeat;
}

.nav-events{
  background-image: url("http://placekitten.com/g/150/150");
  background-size: 150px 150px;
  background-repeat: no-repeat;
}

.nav-friends{
  background-image: url("http://placekitten.com/g/150/150");
  background-size: 150px 150px;
  background-repeat: no-repeat;
}

.nav-great{
  background-image: url("http://placekitten.com/g/150/150");
  background-size: 150px 150px;
  background-repeat: no-repeat;
}

.jumbotron{
  width: 970px;
}

#slider-snap{
  width: 31%;
  margin: 3% 5% 1% 18.25%;
}


.min-example-val:before {
  content: "Min Activity Level: ";
  font-size: 12px;
  margin-right: 1.5%;
  margin-left: 18.25%;
}

.max-example-val:before {
  content: "Max Activity Level: ";
  font-size: 12px;
  margin-right: 1.5%;
  margin-left: 18.25%;
}

.activity-text{
  padding-top: 7px;
  margin-bottom: 0;
  text-align: right;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 0px;
  display: inline-block;
  max-width: 100%;
  box-sizing: border-box;
  font-weight: 700;
}
